* {
  user-select: none;
  outline: none;
}
body {
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: repeat(8, 1fr); 
  gap: 10px; 
  height: 100vh; 
  margin: 0;
  background: linear-gradient(to right, #bec1c1, #d9e0e0, #ecf7f7 )
  
}
  
    
header {
  grid-column: span 12;
  grid-row: span 1;
  
  padding: 10px;
  display: flex;
  justify-content:center;
  align-items: center;
 
}

h1.inline-text1 {
  color: #131414;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 30px;
  margin: 10px;
  margin-bottom: 0;
}
    
#noteimg {
  width: 5%;

}
  
main {
  grid-column: span 8;
  grid-row: span 6;
  padding: 20px;
  border-radius: 10px;
  margin-left: 50px;
  width: 85%;
  background-color: #f6f9f8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  
  
}

#h2main {
  text-align: center;
  font-size:250%;
  font-family: 'Courier New', Courier, monospace;
}
#imgmain {
  display: block;
  margin: 0 auto;
  justify-content: center;
}
#taskdetail {
  background-color: transparent;
  border-radius: 10px;
  flex-direction: column;
  text-align: center;
  display: none;
  opacity: 0;
  transform: translateY(-20px); 
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#taskdetail.show {
  display: block; 
  opacity: 1;
  transform: translateY(0);
}
#tasktitle {
  font-family: 'Courier New', Courier, monospace;
  color: #142c3f;
}
#tasknotes {
  min-height: 150px;
  max-height: 450px;
  width: 90%;
  justify-content: center;
  margin-bottom: 40px;
  resize: vertical; 
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  
  
}
#tasknotes.show {
  transition: 0.3s ease-in-out;
}

aside {
  grid-column: span 4;
  grid-row: span 6;
  background: #f6f9f8;
  padding: 10px;
  overflow: auto;
  border-radius: 10px;
  margin-right: 60px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.listh2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  border-radius: 10px;
  color: #142c3f;
  
}
.inputNbutton {
  flex: 1;
  margin-bottom: 20px;
  
}
#maininputtask {
  border: rgb(11, 11, 11);
  border-radius: 10px;
  width: 80%;
  height: 30px;
  background-color: #f2eeee;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: black;
  
}
#taskbutton {
  background-color: f2eeee;
  border: rgb(213, 205, 205);
  border-radius: 10px;
  width: 14%;
  height: 30px;
  margin-left: 14px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  
  cursor: pointer;
}
button:hover {
  background-color: #f0aa68;
  transition: background-color 0.3s ease-in-out 0.1s;
  
}
.listframe{
  
  border: #9a9a9a;
  border-radius: 10px;
}
ul {
  list-style: none;
}
ul li {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  padding: 12px 8px 12px 50px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
}

ul li::before {
  content: '';
  position: absolute;
  background-image: url('png/icons8-circle-50.png');
  background-size: cover;
  background-position: center;
  background-color: #915353;
  border: #161515;
  border-radius: 10px;
  left: -15px;
  width: 20px;
  height: 20px;
  
}
ul li.checked{
  color: rgb(15, 15, 15);
  text-decoration: line-through;
  
}
ul li.checked::before {
  background-image: url('png/icons8-circle-50.png');
  background-color:darkgoldenrod
}
ul li span {
  position:absolute;
  right: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  width: 30px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  z-index: 10;
}

ul li button {
  position:absolute;
  right: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  width: 15%;
  height: 40%;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  color: #151414;
  font-size: 10px;
  line-height: 10px;

}
footer {
  grid-column: span 12; 
  color: #161515;
  padding: 10px;
}
#footerD {
  display: flex;
  gap: 75%;
}

